extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                Blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam laboriosam at recusandae voluptatem hic voluptatibus, consequuntur tenetur natus omnis ipsa itaque illum fuga vitae id, exercitationem labore modi minima perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptates molestiae nihil sit in iure natus necessitatibus cumque minus exercitationem consequuntur, asperiores numquam laborum. Recusandae incidunt vero molestias voluptatibus voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quasi consequuntur corrupti aperiam, incidunt ea quaerat dolorum maiores suscipit quos eos non veritatis, officiis quibusdam facilis ipsa? Corporis, dolore minus.

                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id animi natus ea sunt placeat mollitia ex vero quia, qui accusantium omnis odio voluptas labore? Ad dicta illum ea nihil eligendi? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium ratione error temporibus perspiciatis, distinctio mollitia itaque molestias. Dolor, deleniti cupiditate? Mollitia ullam, ut iure consequuntur fuga exercitationem at possimus tenetur.

                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. A, nihil enim facilis explicabo dolorem odit sapiente quos, quisquam asperiores laudantium voluptates iure at quis quidem. Voluptatem natus similique ullam nesciunt.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam quo eos expedita quia quidem! Iste mollitia recusandae cumque, dicta, nam ex suscipit illum qui architecto quibusdam modi repellendus sapiente laborum!  
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam quo eos expedita quia quidem! Iste mollitia recusandae cumque, dicta, nam ex suscipit illum qui architecto quibusdam modi repellendus sapiente laborum! 
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam quo eos expedita quia quidem! Iste mollitia recusandae cumque, dicta, nam ex suscipit illum qui architecto quibusdam modi repellendus sapiente laborum!                  
